extends layout.pug

block head
    //link(rel="stylesheet" href="/style/common.css")

block content
    a(href="/")
        i.fas.fa-arrow-left
        |Retour à la liste des articles
    div.flex.flex-row
        h2 #{article.title}
        span.category
            i.fas.fa-tag
            | #{article.category.title}
    p
        b Publié le #{moment(article.date).format("DD/MM/YYYY [à] h:mm")} par!{' '}
          i #{article.author.name}
    div.italic
        p #{article.content}